<div class="col-lg-12">
	<Var name="enable_edit_class">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'ew-block-content' : '')</Var>
	<Var name="enable_edit_attr">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'data-ew-id="{{CID}}" data-ew-tool="0" data-ew-tag="all"' : '')</Var>
	<div class="item-std mb-3 {{enable_edit_class}}" {{enable_edit_attr}}>
		<If condition="'{{DC_thumbnail_display}}' == 'yes' && {{dp_image_ID}}>0">
		
		<Grid gridId="DocCachedInfo_{{dp_image_ID}}">
			<Header>
			<div class="item-thumbnail">
			</Header>
			<If condition="'{{linkToimage}}' == 'yes'">
			<a title="{{titleToAlt}}" href="{{hrefToDoc}}" target="{{hrefToDocTarget}}">
				<img class="img-fluid mt-2 mb-2" src="{{link_url}}" alt=""/>
			</a>
			</If>
			<If condition="'{{linkToimage}}' != 'yes'">
			<img class="img-fluid mt-2 mb-2" src="{{link_url}}" alt=""/>
			</If>
			<Footer>
			</div>
			</Footer>
		</Grid>
		
		</If>




				<p class="orange-color mb-0">
					<If condition="'{{linkToTitle}}' == 'yes'">
					<a class="orange-color" title="{{titleToAlt}}" href="{{hrefToDoc}}" target="{{hrefToDocTarget}}">
						{{titleToDisplay}}
					</a>
					</If>
					<If condition="'{{linkToTitle}}' != 'yes'">
					{{titleToDisplay}}
					</If>
				</p>

















			<If condition="'{{DC_abstract_display}}' == 'yes' && '{{dp_abst}}' == 'yes'">
			<div class="item-description mb-0">
			<p>{{abstractToDisplay}}</p>
			</div>
			</If>
			<If condition="'{{DC_date_display}}' == 'yes' || ('{{DC_time_display}}' == 'yes' && '{{dp_docTime}}' == 'yes')">
			<span class="date">
				<If condition="'{{DC_date_display}}' == 'yes'">
				{{source_creation_date}}
				</If>
				<If condition="'{{DC_date_display}}' == 'yes' &&  '{{DC_time_display}}' == 'yes' && '{{dp_docTime}}' == 'yes'">
				/
				</If>
				<If condition="'{{DC_time_display}}' == 'yes' && '{{dp_docTime}}' == 'yes'">
				{{source_creation_time}}
				</If>
			</span>
			</If>
			<If condition="'{{DC_sourceauthor_display}}' == 'yes' && '{{dp_author}}'=='yes'">
			<p class="text-center font-weight-bold">{{_DC_sourceauthor_label}}: <span class="orange-color"> {{AuthorToDisplay}}</span></p>
			</If>
			<If condition="'{{DC_source_display}}' == 'yes' && '{{dp_source}}'=='yes'">
			<p class="text-center font-weight-bold">{{_DC_source_label}}: <span class="orange-color"> {{sourceToDisplay}}</span></p>
			</If>
			<If condition="'{{DC_content_display}}' == 'yes' && '{{dp_content}}' == 'yes'">
			<div class="mb-2">
				<Include SRC="{{ASP_FRONT_PATH}}templates/MainContent/CiOnlyContent.html" />
			</div>
			</If>
			<If condition="'{{dp_labelUserDefinedLink}}' == 'yes'">
			<a href="{{hrefToDocOther}}" class="btn btn-sm btn-primary">{{labelUserDefinedLink}}</a>
			</If>
	</div>
</div>