
    <div class="form-area">  
        <form role="form">
        <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Attachment 11-Supplier registration form</h3>
					
					<p class="contactTitle">Registration Info</p>
				<div class="row">
					<div class="col-sm-6 col-md-6">
					<div class="form-group">
						<label for="exampleInputEmail1">Company Name (*):</label>
						<input type="email" class="form-control" id="companyname" placeholder="">
					</div>
					</div>
					
					<div class="col-sm-6 col-md-6">
					<div class="form-group">
						<label for="exampleInputEmail1">Legal Form (*)</label>
						<input type="email" class="form-control" id="legalform" placeholder="">
					</div>
					</div>
					
					<div class="col-sm-6 col-md-6">
						<div class="form-group">
						<label for="exampleInputEmail1">VAT Number/NIPT (*) </label>
						<input type="email" class="form-control" id="vat" placeholder="">
						</div>
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Taxpayer ID</label>
							<input type="email" class="form-control" id="taxpayer" placeholder="">
						</div>
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Country of Operations (*)</label>
							<input type="email" class="form-control" id="country" placeholder="">
						</div>
					</div>
				</div>
				<hr>

				
				
				
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="form-group">
			<label for="exampleInputEmail1">Product categories (*)</label>
			<select class="form-control">
				<option>Please Select</option>
				<option>ADVERTISING</option>
				<option>-Advertising material, promotions, catalogues, brochures, mailing services</option>
				<option>-Managing events and exhibitions</option>
				<option>-Promotional Gadgets</option>
				<option>COMMERCIAL INFORMATION/FILE SEARCHES</option>
				<option>-Information (Payment defaults, protests, SIC, land registry searches, chamber of commerce register searches, etc ...)</option>
				<option>-Market Analysis</option>
				<option>CONSULTING AND PROFESSIONAL SERVICES.</option>
				<option>-Administrative / tax consulting services</option>
				<option>-Banking consulting services</option>
				<option>-Financial consulting services</option>
				<option>-Legal / notary consulting services</option>
				<option>-Other consulting services</option>
				<option>-Marketing /HR /Advertising services</option>
				<option>-Organizational / Executive</option>
				<option>-Real Estate consulting services</option>
				<option>-Real estate surveys / brokerage</option>
				<option>-Work Supervision / tests / security / design</option>
				<option>ENTITIES (associations, institutional / public, non-profit organizations)</option>
				<option>-Entities, associations, charities, etc ...</option>
				<option>-INFORMATION & COMMUNICATION TECHNOLOGY</option>
				<option>-Application systems</option>
				<option>-Infoproviders</option>
				<option>-Technological infrastructure</option>
				<option>INSURANCE (corporate, customer marketing, personnel / employment, movable and immovable property, vehicles, etc.)</option>
				<option>-Business Insurance (fire buildings and contents, all risks artwork, BBB, Third Party Liability, D & O, ETC...)</option>
				<option>-Customer Marketing Insurance</option>
				<option>-managers and personnel insurance (accidents, illness, life, permanent disability due to illness, CDW vehicles, etc...)</option>
				<option>OFFICE EQUIPMENT</option>
				<option>-Bill counters, coin counters, sorters, etc..</option>
				<option>-Office equipment and accessories excluding hardware (paper shredders, cutters, binders, calculators, ...)</option>
				<option>-Office supplies and consumables (printed material, stationery, HW consumables, toner, forms, envelopes, paper and cardboard)</option>
				<option>-Photocopiers</option>
				<option>PERSONNEL/EMPLOYMENT</option>
				<option>-Catering</option>
				<option>-Clothing and accessories</option>
				<option>-Health care, medical equipment and supplies</option>
				<option>-Personnel selection</option>
				<option>-Publishing</option>
				<option>-Temporary work</option>
				<option>-Training</option>
				<option>Travel / reservations</option>
				<option>-Vehicles and transport</option>
				<option>PHYSICAL SECURITY</option>
				<option>-Safety equipment supply</option>
				<option>-Security / custody</option>
				<option>-Transport of valuables and cash counting</option>
				<option>PROVISION OF SERVICES</option>
				<option>-Electronic cards and other securities</option>
				<option>-Language / translation services</option>
				<option>Logistics</option>
				<option>-Document Storage Management</option>
				<option>-Express Courier Service</option>
				<option>-External Postal services</option>
				<option>-Internal Postal services</option>
				<option>-Printing and mailing</option>
				<option>-Warehouse management</option>
				<option>Miscellaneous Services</option>
				<option>-Call centre, Customer Relationship Management</option>
				<option>-Data entry</option>
				<option>-Photocopying / printing services</option>
				<option>-Reception / concierge</option>
				<option>-Relocations and porterage</option>
				<option>REAL ESTATE</option>
				<option>-Building and ancillary works</option>
				<option>-Furniture / furnishings and accessories</option>
				<option>-Management and cleaning of green areas/ environmental services</option>
				<option>-Oils and fuels</option>
				<option>-Systems and facilities</option>
				<option>-Utilities</option>
			</select>
			</div>
		</div>
	</div>
				
				
				
				
				
				
				
				<hr>
				<p class="contactTitle">Economic data</p>
				<div class="row">
					<div class="col-sm-4 col-md-4">
					<div class="form-group">
						<label for="exampleInputEmail1">Currency</label>
						<input type="email" class="form-control" id="currency" placeholder="">
					</div>
					</div>
					
					<div class="col-sm-4 col-md-4">
					<div class="form-group">
						<label for="exampleInputEmail1">Share Capital</label>
						<input type="email" class="form-control" id="share" placeholder="">
					</div>
					</div>
					
					<div class="col-sm-4 col-md-4">
					<div class="form-group">
						<label for="exampleInputEmail1">Founding year (*)</label>
						<input type="email" class="form-control" id="founding" placeholder="">
					</div>
					</div>
				</div>
				<p class="contactTitle">Registered Office/Residence Address</p>
				
				
				<div class="row">
					<div class="col-sm-6 col-md-6">
					<div class="form-group">
						<label for="exampleInputEmail1">Address (*)</label>
						<input type="email" class="form-control" id="Address" placeholder="">
					</div>
					</div>
					
					<div class="col-sm-6 col-md-6">
					<div class="form-group">
						<label for="exampleInputEmail1">Postal Code</label>
						<input type="email" class="form-control" id="postal" placeholder="">
					</div>
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">City(*)</label>
							<input type="email" class="form-control" id="city" placeholder="">
						</div>
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="form-group">
						<label for="exampleInputEmail1">Country (*)</label>
						<input type="email" class="form-control" id="Country" placeholder="">
						</div>
					</div>
				
					<div class="col-sm-6 col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Phone number (*)</label>
							<input type="email" class="form-control" id="phone" placeholder="">
						</div>
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Fax number</label>
							<input type="email" class="form-control" id="fax" placeholder="">
						</div>
					</div>
				</div>
				
				<p class="contactTitle">Contact person</p>
				<div class="row">
					<div class="col-sm-4 col-md-4">
					<div class="form-group">
						<label for="exampleInputEmail1">First name (*)</label>
						<input type="email" class="form-control" id="namefirst" placeholder="">
					</div>
					</div>
					
					<div class="col-sm-4 col-md-4">
					<div class="form-group">
						<label for="exampleInputEmail1">Last name (*)</label>
						<input type="email" class="form-control" id="lastname" placeholder="">
					</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="form-group">
							<label for="exampleInputEmail1">Job title (*)</label>
							<input type="email" class="form-control" id="job" placeholder="">
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="form-group">
						<label for="exampleInputEmail1">Email address (*)</label>
						<input type="email" class="form-control" id="email" placeholder="">
						</div>
					</div>
				
					<div class="col-sm-4 col-md-4">
						<div class="form-group">
							<label for="exampleInputEmail1">Phone number (*)</label>
							<input type="email" class="form-control" id="phone" placeholder="">
						</div>
					</div>
				</div>
				<p class="contactTitle">Are you an Intesa Sanpaolo Bank Albania customer?</p>
				<div class="row">
					<div class="col-sm-6 col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Phone number (*)</label>
							<input type="email" class="form-control" id="phone" placeholder="">
						</div>
					</div>
				</div>
				<p>If Yes please fill the bellow information.</p>
				<div class="row">
					<div class="col-sm-6 col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Account name (*)</label>
							<input type="email" class="form-control" id="Account" placeholder="">
						</div>
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">Account name (*)</label>
							<input type="email" class="form-control" id="Account" placeholder="">
						</div>
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">IBAN no. (*)</label>
							<input type="email" class="form-control" id="IBAN" placeholder="">
						</div>
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="form-group">
							<label for="exampleInputEmail1">SWIFT No.</label>
							<input type="email" class="form-control" id="swift" placeholder="">
						</div>
					</div>
				</div>
				
				
				
				
				
		</form>
        <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
		
        </form>
    </div>
</div>
