


<Grid gridId="Grid_AuthorNav_{{objNem}}">



	<Grid gridId="Grid_AuthorNav_Nivel2{{keyIden}}">

					<Grid gridId="Grid_AuthorNav_Nivel3{{keyIden}}">
						<Header>

			<ol class="dd-list level_2">
				<li class="" data-id="{{CurrentRecNr}}">
<a class=""
href="javascript:GoTo('thisPage?event=none.ch_state(kc={{level_0}},{{level_1}},{{level_2}},{{level_3}},{{level_4}};k={{con_id}})')">{{ci_title}}</a>


							<ol class="dd-list level_3">
						</Header>
								<li class="" data-id="{{CurrentRecNr}}">
<a class="" href="javascript:;"

				data-url="&apprcss=getMyBasket&cis={{con_id}}#relatedBasketToLectureInner"
				data-ajax="true"
				data-target="#relatedBasketToLecture">





									>{{ci_title}}</a>

								</li>
						<Footer>
							</ol>
			</li>
			</ol>
						</Footer>
					</Grid>

	</Grid>


</Grid>
