<Grid gridId="Grid_StructuredContent">
	<Header>
	<div class="mb-4 mt-5"  data-eq-height=".itemCarousel" >
		<div class="owl-carousel owl-theme">
		
	</Header>
	 <div class="item itemCarousel">
		<If condition="'{{exist_fullcontent}}' == 'yes' ">
			<div class="text-center icon-box mb-4">
				{{fullcontent}}
			</div>
		</If>
		<h2 class="text-center">{{titulli}}</h2>
		<div class="item-description">
			{{pershkrimi}}
			<If condition="'{{exist_link}}' == 'yes'">
				<div class="read-more"><a href="{{hrefToDocOther}}" target="{{hrefToDocTargetOther}}" class="">{{linklabel}}</a></div>
			</If>
		</div>
	</div>
	
	<Footer>
	</div>
	</div>
	<script type="text/javascript" language="javascript1.2">
		modules.push('eq-height')
	</script>


   </Footer>
</Grid>