<Grid gridId="Grid_StructuredContent">
	<IfEmpty>
	</IfEmpty>
	<Header>
		<Include SRC="{{NEMODULES_PATH}}partials/default_header_property_template.html"/>
	<div class="list-box">
		<ul class="list-unstyled">
	</Header>
			<li class="pb-1">
				<If condition="'{{linkToTitle}}' == 'yes'">
					<a href="{{hrefToDocOther}}" target="{{hrefToDocTargetOther}}">
						<i class="fa fa-chevron-circle-right orange-color mr-2" aria-hidden="true"></i> {{titleToDisplay}}
					</a>
				</If>
				<If condition="'{{linkToTitle}}' != 'yes'">
					<i class="fa fa-chevron-circle-right orange-color mr-2" aria-hidden="true"></i> {{titleToDisplay}}
				</If>
				<If condition="'{{display_desc}}' == 'yes' && '{{dp_desc}}' == 'yes'">
					<div class="item-description">
					<p class="mb-1">
						{{description}}
					</p>
					</div>
				</If>
			</li>
	<Footer>
		</ul>
		<If condition="'{{block_link_show}}' == 'yes'">
			<a href="{{block_link_target_Href}}" role="button" class="text-center btn btn-sm btn-primary">{{block_link_label}}</a>
		</If>
	</div>
	</Footer>
</Grid>

