<article id="c12" class="csc-default frame_0">
	<div class="container">
	<div class="col-xs-16 col-lg-10">
		<div class="csc-header csc-header-n1">
			<h1 class="csc-firstHeader">Den Hausarzt in Ihrer Nähe finden</h1>
		</div>
		<div class="csc-text">
			<p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta, ante sit amet porta pulvinar, eros est mollis ipsum, vel consequat ipsum libero non justo.</p>
		</div>
	</div>
	</div>
</article>

<article class="csc-default frame_0" style="background: #30363E">
	<div class="container">
		<div class="col-xs-16 col-lg-12 col-lg-offset-2">
			<div class="searchForm">
				<form role="search" name="searchForm" action="" class="haurarzt-finden">
					<div>
						<input class="poleSearch" id="mailformsword" name="search" value="Suchbegriff..." maxlength="50" placeholder="Menziken" type="text">
						<button id="mailformsubmit" type="submit" name="submit" value="Search" title="Finden">Suchen</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</article>
<article class="csc-default frame_0">
	<div class="map-container">
		<img src="graphics/map.png" alt="Map Hausarzt"> 
	 </div>
</article>
