<Grid gridId="Grid_StructuredContent">

   <IfEmpty>
   </IfEmpty>

   <Header>
   </Header>
   <Var name="bg_image">('{{img_big_id_src}}' != '' ? 'background-image: url({{img_big_id_src}});' : '')</Var>
   <div class="banner_box" style="{{bg_image}}">
      <div class="container">
         <div class="wrapper-content">
            <h4>
               <span style="color: rgb(255, 102, 0); font-weight: normal;">
                  {{titulli}}
               </span>
            </h4>
            {{pershkrimi}}
            <Var name="link_label">('{{link_lab}}' != '' ? '{{link_lab}}' : 'Read more')</Var>
            <If condition="'{{link_crd}}' != '' ">
               <p><a class="btn btn-spdefault" href="{{link_src}}">{{link_label}}</a></p>
            </If>
            <If condition="'{{link_crd}}' == '' ">
               <p><a class="btn btn-spdefault" href="javascript:void(0)">{{link_label}}</a></p>
            </If>
         </div>
      </div>
   </div>

   <Separator>
   </Separator>

   <Footer>
   </Footer>

</Grid>