<Grid gridId="Grid_AuthorNav_{{objNem}}">

		<Header>
			<div class="simple-list">
		</Header>
                <Var name="handle_editing_class">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'ew-block-content' : '')</Var>
                <Var name="handle_editing_attr">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? ' data-ew-id="{{con_id}}" data-ew-tool="0" data-ew-tag="all"' : '')</Var>
				<div class="item-list {{handle_editing_class}}" {{handle_editing_attr}}>
					<h4 class="bold color_red">
						<a href="{{link}}">{{label}}</a>
					</h4>{{ci_description}}
					
					<a class="bold" href="{{link}}">{{linkLabel}} 
						<span class="ti-new-window color_red"></span>
					</a>
					
				</div>
				<hr>
		<Footer>
			</div>
		</Footer>
</Grid>