<If condition="('{{link_show_I}}' == '1') || ('{{link_show_II}}' == '1') || ('{{link_show_III}}' == '1')">
<div class="float-right">
       <If condition="'{{link_show_I}}' == '1'">
         <span class="color_white" >{{link_lng_I}}{{mesg_lng_I}}{{link_lng_I_c}}</span>
       </If>
       <If condition="'{{link_show_II}}' == '1'">
         <span class="color_white" >{{link_lng_II}}{{mesg_lng_II}}{{link_lng_II_c}}</span>
       </If>
       <If condition="'{{link_show_III}}' == '1'">
         <span class="color_white" >{{link_lng_III}}{{mesg_lng_III}}{{link_lng_III_c}}</span>
       </If>
</div>
</If>