

<If condition="'{{displayFilter}}'=='yes'">

</If>


<If condition="'{{error_code_to_html}}'=='FoundResults'">

<Grid gridId="gridDataSrc">
	<IfEmpty>
		<div class="list_error_message">{{_list_ResultsEmtpy}}</div>
	</IfEmpty>

	<Var name="target_val">('{{hrefToDocTargetOther}}' == '_blank' ? '_blank' : '_self')</Var>

    <div class="col-sm-6 col-md-6">
         <div class="tab-cont">
          <div class="thumbnail">
					<img src="{{srcImageToDisplay}}"  alt="{{titleToAlt}}"/>
          </div> 
          <div class="caption">
          
              <span class="titleBlock"><a href="{{hrefToDoc}}"  target="{{hrefToDocTarget}}">{{titleToDisplay}}</a></span>
               
           
           <If condition="'{{dp_date}}' == 'yes'">
           <span><i class="glyphicon glyphicon-time"></i> 
				<div class="item_date">{{dateToDisplayDMNY}}</div>
			</If>

		   </span>
           
         </div>
        </div>
    </div>      
</Grid>
</If>

<If condition="'{{error_code_to_html}}'=='ResultsEmtpy'">
	<div class="list_error_message">{{_list_ResultsEmtpy}}</div>
</If>
<If condition="'{{error_code_to_html}}'=='TermSearchEmpty'">
	<div class="list_error_message">{{_list_TermSearchEmpty}}</div>
</If>
<If condition="'{{error_code_to_html}}'=='InvalidTerm'">
	<div class="list_error_message">{{_list_InvalidTerm}}</div>
</If>
<If condition="'{{error_code_to_html}}'=='SomeErrorOccurred'">
	<div class="list_error_message">{{_list_error_occured}}</div>
</If>
