

<If condition="'{{displayFilter}}'=='yes'">

</If>


<If condition="'{{error_code_to_html}}'=='FoundResults'">

<Grid gridId="gridDataSrc">
	<IfEmpty>
		<div class="list_error_message">{{_list_ResultsEmtpy}}</div>
	</IfEmpty>
	<Header>
	<div class="row">
	</Header>
		<Var name="handle_editing_class">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? 'ew-block-content' : '')</Var>
		<Var name="handle_editing_attr">('{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes' ? ' data-ew-id="{{CID}}" data-ew-tool="0" data-ew-tag="all"' : '')</Var>

	<div class="col-sm-6 col-md-4" >
		<div class="box_gray box-promo {{handle_editing_class}}" {{handle_editing_attr}}>
		<center>
			<img src="{{srcImageToDisplay}}"  alt="{{titleToAlt}}"/>
		</center>
		<div class="box_promo">
			<h3>{{titleToDisplay}}</h3>
			<p>{{abstractToDisplay}}</p>
			<br>
			<p><a role="button" class="btn btn-orange" href="{{hrefToDoc}}">{{labelUserDefinedLink}}</a></p>
		</div>
		</div>
	</div>
<Footer>
</div>
</Footer>
</Grid>
</If>
<If condition="'{{error_code_to_html}}'=='ResultsEmtpy'">
	<div class="list_error_message">{{_list_ResultsEmtpy}}</div>
</If>
<If condition="'{{error_code_to_html}}'=='TermSearchEmpty'">
	<div class="list_error_message">{{_list_TermSearchEmpty}}</div>
</If>
<If condition="'{{error_code_to_html}}'=='InvalidTerm'">
	<div class="list_error_message">{{_list_InvalidTerm}}</div>
</If>
<If condition="'{{error_code_to_html}}'=='SomeErrorOccurred'">
	<div class="list_error_message">{{_list_error_occured}}</div>
</If>



