<WebBox ID="Unregister">
<script language="javascript1.2" src="{{./}}Unregister.js"></script>
<script language="javascript1.2">
<!--
	var _fill_required_data = {{'_fill_required_data'}};
	var _right_format_email = {{'_right_format_email'}};
	var idstempUNl = '{{idstempUNl}}';
//-->
</script>


<table cellpadding="0" cellspacing="0" border="0">
<form name="nlunregf" onSubmit="nlunreg(); return false;">
<tbody>

   <tr>
	 <td><input class="txtBoxdefault" size="40" type="text" name="email" style="width:200px;height:20px" /></td>
  </tr>
   <tr>
	 <td><img height="5" alt="" src="{{GRAPHICS_PATH_APP}}spacer.gif" width="5" border="0" /></td>
  </tr>
   <tr>
	 <td><input class="graygobtnBlue" type="submit" value="{{_send}}" name="Submit"></td>
  </tr>
   <tr>
	 <td><img height="5" alt="" src="{{GRAPHICS_PATH_APP}}spacer.gif" width="5" border="0" /></td>
  </tr>
</tbody>
</form>
</table>
</WebBox>