<!doctype html>
<html>
<head>
	<meta name="msapplication-config" content="browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0" name="viewport">
		<!-- Chooses the latest browser -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
<WebBox ID="HeadContainer" Type="Container" Level="0" Case="Always" Editable="False">
<Include SRC="{{./}}MetatagTemplate/MetatagTemplate.html"/>
</WebBox>
<Include SRC="{{./}}MainContainer/ExternalTagsArea/ExternalTagsArea.html"/>
</head>

<body class="body-offcanvas">
