<footer class="ew-bo-taskbar" data-module="taskbar">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="javascrit:void(0);"><i class="fa fa-windows"></i></a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="javascrit:void(0);" data-toggle="tooltip" data-placement="top" title="More Tools"><i class="fa fa-angle-up"></i></a>
					</li>
					<li
						data-type="open-window"
						data-window-type="main"
						data-window-id="appWindow"
						data-window-title="Application Window"
						data-window-width="full"
						data-window-height="full"
						data-window-url="{{APP_URL}}{{BO_PATH}}indA.php?uni={{uni}}&toolbar=yes"
					>
						<a href="javascrit:void(0);" data-toggle="tooltip" data-placement="top" title="Application Window"><i class="fa fa-globe"></i></a>
					</li>
					<li>
						<a href="javascrit:void(0);" data-toggle="tooltip" data-placement="top" title="Recycle Bin"><i class="fa fa-recycle"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</footer>