<script language="javaScript" src="{{APP_URL}}include_js/libs.min.js"></script>
<script>
	modules.push('equal-heights', 'ajax-module', 'modal', 'tooltip', 'enable-popover', 'video-player', 'view-virtual-slide', 'ref-link-viewer', 'ref-viewer', 'pdf-viewer', 'image-html-viewer' );
</script>
<!--script src="{{APP_URL}}include_js/haus_script.js" type="text/javascript"></script-->
<script src="{{APP_URL}}include_js/main.js" type="text/javascript"></script>
<script src="{{APP_URL}}include_js/owl.carousel.min.js" type="text/javascript"></script>

        <script>
            $('.owl-carousel').owlCarousel({
                loop:false,
                nav:false,
                margin:10,
                responsiveClass:true,
                responsive:{
                0:{
                    items:1,
                    nav:false
                },
                    600:{
                    items:2,
                    nav:false
                },
                    1000:{
                    items:3,
                    nav:false,
                    loop:false
                    }
                }
            })

    </script>


<!--<Var name="prodassets">('{{APP_STATE}}' != 'development' ? '.min' : '')</Var>
<script type="text/javascript" src="{{APP_URL}}include_js/main{{prodassets}}.js?v=2.6"></script>-->

<Include SRC="{{ASP_FRONT_PATH}}templates/footer_includes_session_related.html"/>