<WebBox ID="mainLogin" Type="Container" Level="0" Case="Always" Editable="False">
<div id="container">
	<div id="header">
		<div class="container">
			<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md text-center">
				<div class="logoArea" style="width:100%">
					<Include SRC="{{./}}LogoArea/LogoArea.html"/>
				</div>
			</nav>
		</div>
	</div>
	<div class="main-content" style="margin-top: 10%;">
	<div class="container">
			<Include SRC="{{./}}MainContent/MainContent.html"/>
	</div>
	</div>
    <div id="footerRow" style="position:absolute;">
	<div id="copyright">
		<div class="container">
			<div class="text-center">
				<div class="pb-3">
					<Include SRC="{{./}}CopyrightArea/CopyrightArea.html"/>
					
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
<Include SRC="{{./}}footer_includes.html"/>
</WebBox>