<If condition="'{{simpleEditAuthoring}}' == 't' && '{{simpleModePreview}}' == 'yes'">
<ul class="nav metismenu mode-toggle">
	<li class="">
		<a href="javascript:void(0);" title="Edit Navigation"
		data-type="open-edit-window"
		data-modal-width="1000"
		data-title="Edit Navigation"
		data-url="&apprcss=simpleModeActions&itemType=NAV&cis={{contentId}}&itemId={{contentId}}&action=light">
			<i class="fa nav-icon fa-sitemap"></i> <span class="nav-label">Edit Navigation </span>
		</a>
	</li>
</ul>
</If>
